<a href="https://colab.research.google.com/github/Ellana555/Skillfactory/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.5'

In [3]:
print(pd.__name__)

pandas

# Series

In [4]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [5]:
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [6]:
print(countries.loc['US'])
# США

США

In [7]:
print(countries.loc[['US', 'RU', 'UK']])

US       США
RU    Россия
UK    Англия
Name: countries, dtype: object

In [8]:
print(countries.iloc[6])
# Казахстан

Казахстан

In [9]:
print(countries.iloc[1:4])

CA    Канада
US       США
RU    Россия
Name: countries, dtype: object

In [10]:
names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]

In [11]:
#Напишите функцию create_medications(names, counts), 
#создающую Series medications, индексами которого 
#являются названия лекарств names, а значениями — их количество в партии counts.

#Также напишите функцию get_percent(medications, name), 
#которая возвращает долю товара с именем name от общего 
#количества товаров в партии в процентах.

import pandas as pd
import numpy as np

def create_medications(names, counts):
    medications = pd.Series(
        data = counts,
        index = [names],
        name = 'medications')
    global sum_med
    sum_med = np.sum(counts)
    return medications

def get_percent(medications, name):
    count_name = medications.loc[name]
    procent = count_name / (sum_med / 100)
    return procent


if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]

chlorhexidine    37.5
Name: medications, dtype: float64

# DataFrime

In [12]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

In [13]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [14]:
countries_df.mean(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [15]:
countries_df.mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

In [16]:
countries_df.population

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [17]:
countries_df['population']

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [18]:
countries_df.loc['UK', 'square']

133396

In [19]:
countries_df.loc['RU', ['population', 'square']]

population      146.24
square        17125191
Name: RU, dtype: object

In [20]:
pd.DataFrame([[0,1], [1, 0]], columns=['А', 'B'])

   А  B
0  0  1
1  1  0

In [21]:
pd.DataFrame({'А': [0, 1], 'B': [1, 0]})

   А  B
0  0  1
1  1  0

In [49]:
def create_companyDF(income, expenses, years):
    df = pd.DataFrame({
        'Income':income,
        'Expenses':expenses})
    df.index = years
    return df

In [51]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
display(create_companyDF(income, expenses, years))

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

In [52]:
import pandas as pd

def create_companyDF(income, expenses, years):
    df = pd.DataFrame({
        'Income':income,
        'Expenses':expenses},
        index = years)
    return df

def get_profit(df, year):
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        profit=None
    return profit
    #df['pribil'] = df['income'] - df['expenses']
    #profit = pd.loc('year', 'pribil')
    
    """
    А также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанных в таблице df, за год year.
    Учтите, что если информация за запрашиваемый год не указана в вашей таблице вам необходимо вернуть None. 
    """
    #ваш код здесь
    return profit

if __name__ == '__main__':
    expenses = [156, 130, 270]
    income = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(income, expenses, years)
    print(get_profit(scienceyou, 2020)) #-74

-74

Работа с csv файлом

In [73]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [74]:
melb_data = pd.read_csv('/content/data/melb_data.csv', sep=',')

In [75]:
display(melb_data)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19184,11336,Doncaster East,26 Champion St,3.0,h,1735000.0,S,Jellis,15/07/2017,14.3,...,2.0,725.0,126.0,1970.0,Manningham,-37.78707,145.15161,Eastern Metropolitan,10999.0,"-37.78707, 145.15161"
19185,11337,Donvale,6/22 Powers St,3.0,t,920000.0,S,Barry,15/07/2017,16.1,...,2.0,239.0,187.0,2007.0,Manningham,-37.77323,145.18029,Eastern Metropolitan,4790.0,"-37.77323, 145.18029"
19186,11338,Donvale,14 Sturdee Rd,3.0,h,904000.0,S,Fletchers,15/07/2017,16.1,...,2.0,720.0,116.0,1960.0,Manningham,-37.803490000000004,145.19666,Eastern Metropolitan,4790.0,"-37.80349, 145.19666"
19187,11339,Doveton,5 Crimson Dr,3.0,h,500000.0,S,Hall,15/07/2017,28.8,...,3.0,621.0,126.0,1955.0,Casey,-37.98537,145.23505,South-Eastern Metropolitan,3533.0,"-37.98537, 145.23505"
19188,11340,Eaglemont,104 Studley Rd,3.0,h,1440000.0,S,Miles,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
display(melb_data.head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [68]:
melb_data.tail(7)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
19182,11334,Dingley Village,29 Elliott Cr,3.0,h,800000.0,S,Ray,15/07/2017,22.2,...,4.0,801.0,150.0,1980.0,Kingston,-37.98596,145.13187,South-Eastern Metropolitan,3940.0,"-37.98596, 145.13187"
19183,11335,Dingley Village,5 Tarnook Ct,4.0,h,854000.0,S,Ray,15/07/2017,22.2,...,2.0,676.0,181.0,1975.0,Kingston,-37.97936,145.13302,South-Eastern Metropolitan,3940.0,"-37.97936, 145.13302"
19184,11336,Doncaster East,26 Champion St,3.0,h,1735000.0,S,Jellis,15/07/2017,14.3,...,2.0,725.0,126.0,1970.0,Manningham,-37.78707,145.15161,Eastern Metropolitan,10999.0,"-37.78707, 145.15161"
19185,11337,Donvale,6/22 Powers St,3.0,t,920000.0,S,Barry,15/07/2017,16.1,...,2.0,239.0,187.0,2007.0,Manningham,-37.77323,145.18029,Eastern Metropolitan,4790.0,"-37.77323, 145.18029"
19186,11338,Donvale,14 Sturdee Rd,3.0,h,904000.0,S,Fletchers,15/07/2017,16.1,...,2.0,720.0,116.0,1960.0,Manningham,-37.803490000000004,145.19666,Eastern Metropolitan,4790.0,"-37.80349, 145.19666"
19187,11339,Doveton,5 Crimson Dr,3.0,h,500000.0,S,Hall,15/07/2017,28.8,...,3.0,621.0,126.0,1955.0,Casey,-37.98537,145.23505,South-Eastern Metropolitan,3533.0,"-37.98537, 145.23505"
19188,11340,Eaglemont,104 Studley Rd,3.0,h,1440000.0,S,Miles,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
 melb_data.shape

(19189, 23)

In [70]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19189 entries, 0 to 19188
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          19189 non-null  object
 1   Suburb         19189 non-null  object
 2   Address        19189 non-null  object
 3   Rooms          19189 non-null  float64
 4   Type           19189 non-null  object
 5   Price          19189 non-null  object
 6   Method         19189 non-null  object
 7   SellerG        19189 non-null  object
 8   Date           19189 non-null  object
 9   Distance       19188 non-null  float64
 10  Postcode       19188 non-null  float64
 11  Bedroom        19188 non-null  float64
 12  Bathroom       19188 non-null  float64
 13  Car            19188 non-null  float64
 14  Landsize       19188 non-null  float64
 15  BuildingArea   19188 non-null  object
 16  YearBuilt      19188 non-null  float64
 17  CouncilArea    17817 non-null  object
 18  Lattitude      19188 non-null  object
 19  Longtitude     19188 non-null  float64
 20  Regionname     19188 non-null  object
 21  Propertycount  19187 non-null  float64
 22  Coordinates    19187 non-null  object
dtypes: float64(10), object(13)
memory usage: 3.4+ MB

In [76]:
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

IntCastingNaNError: ignored

In [72]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

KeyError: ignored