<a href="https://colab.research.google.com/github/Ellana555/Skillfactory/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
data = np.array([4, 9, -4, 3])

In [3]:
roots = np.sqrt(data)
roots
# RuntimeWarning: invalid value encountered in sqrt
# array([2.        , 3.        ,        nan, 1.73205081])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sqrt
  """Entry point for launching an IPython kernel.

array([2.        , 3.        ,        nan, 1.73205081])

In [4]:
np.isnan(roots)
# array([False, False,  True, False])

array([False, False,  True, False])

In [5]:
roots[np.isnan(roots)]
# array([nan])

array([nan])

In [6]:
roots[np.isnan(roots)] = 0
roots
# array([2.        , 3.        , 0.        , 1.73205081])

array([2.        , 3.        , 0.        , 1.73205081])

In [7]:
sum(roots)
# 6.732050807568877

6.732050807568877

In [ ]:
import numpy as np
try:
    from Root.src.hidden import mystery
except ImportError:
    from hidden import mystery
# Получите булевый массив с информацией о np.nan в массиве mystery
# True - значение пропущено, False - значение не пропущено
nans_index = np.isnan(mystery)

# В переменную n_nan сохраните число пропущенных значений
n_nan = len(mystery[np.isnan(mystery)])

# Заполните пропущенные значения в массиве mystery нулями

mystery[np.isnan(mystery)] = 0


# Поменяйте тип данных в массиве mystery на int32

np.array(mystery, dtype = 'int32')

# Отсортируйте значения в массиве по возрастанию и сохраните
# результат в переменную array
array = np.sort(mystery)

# Сохраните в массив table двухмерный массив, полученный из массива array
# В нём должно быть 5 строк и 3 столбца. Причём порядок заполнения должен быть
# по столбцам! Например, 1, 2, 3, 4 -> 1    3
#                                      2    4
table = array.reshape((5,3), order = 'F')

print(table)

#  Сохраните в переменную col средний столбец из table
col = table[:, 1]